body{
    background-image: url(../img/boules-loto-colorees-volant_107791-5289.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    margin-top: 100px;
}
#register {
    border: 2px solid red;
    border-radius: 15px;
    height: 500px;
    margin: auto;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    color: red;
}
hr {
    height: 10px;
    font-size: 10px;
    margin-bottom: 20px;
}
.ligne{
    height: 10px;
}
button{
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}
p {
    color: red;
    display: none;
}