* {
    box-sizing: border-box;
    scroll-behavior: inherit;  
    width: 100%; 
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  
}

.header {
  overflow: hidden;
  background-color: #0097FF;
  padding: 0 10px;
  width: 100%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px; /*la taille de l'ecriture*/
  line-height: 10px;/*reduire la hauteur du header */
  border-radius: 4px;
  position: relative;
  right: 30px;
  background-color: #ddd;
  margin: 5px;

}

.header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: 20px;
}

.header-right {
  position: relative;
  width: 90px;
  left: 90%;
  top: 22px;
}
.register{
    position: relative;
    left: -180px;
}

.login{
    position: relative;
    left: -50px;
    bottom: 50px;
}


.img-logo{
    height: 60px;
    width: 250px;
    position: relative;
    top: 20px;
}
footer { /*code css pour le footer*/
    text-align: center;
    padding: 10px;
    background-color: #0097FF;
    color: white;
    width: 100%;
  }

  .div-logo{
    height: 5px;
  }

  .description-logo{
    font-size: 35px;
    position: relative;
    top: 30px;
    left: 15px;
    color: white;
  }
  .header-img {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    width: 100%;
  }
  .section-header{
    background-image:url("../img/imgIndex/pexels-fwstudio-132199.jpg");
    background-repeat: no-repeat;
    position: relative;
    padding: 120px;
  }

  /*section card*/
  .card {
    transition: 0.3s;
    width: 23%;
    position: relative;
    left: 30px;
    margin: 5px;

  }
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }  */
  .img-card1{
    height: 300px;
    width: 441px;
    position: relative;
    right: 12px;
  }
.card-title-presentation-projet{
    color: #0097FF;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
  .presentation-H1{
    text-align: center;
    font-size: 60px;
  } 
  .card-text-p{
    font-size: 27px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
  }
  .deplaceCard{
    position: relative;
    left: 130px;
    height: 420px;
    width:1068px
  }
  .container {
    padding: 10px 16px;
  }
  .section-blog{
    margin: 0;
    width: 100%;
  }

  /*fin section card*/
  /*code pour gerer les media query concernant la taille des ecran*/
  /* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    /* .header {background: red;} */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media  screen and (min-width: 600px) {
    /* .header {background: green;} */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media  screen and (min-width: 768px) {
    /* .header {background: blue;} */
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media  screen and (min-width: 992px) {
    /* .header {background: orange;} */
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media  screen and (min-width: 1200px) {
    /* .header {background: pink;} */
  }


