body{
    background: url(../img/Logo_QPUC_2016.jpg) no-repeat right bottom fixed ; /* subdiviser le body avec une image*/
    background-position: left 100% bottom 100%;
    background-size: 55% 100%;
    background-color: gold;
    border: solid groove;
    opacity: 0.9;
}
.container{
    margin-right: 20%;
    margin-top: 10%;
}
.btn {
    background-color: rgb(17, 78, 170);  
    color: gold; 
}
.btn:hover{
    color:black;
    border: gold solid;
}
.row {
    margin-top: 100px;
}
#login {
    border: 2px solid rgb(37, 23, 185);
    border-radius: 15px;
    height: 600px;
    margin: auto;
   
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    color: rgb(19, 9, 124);
}
hr {
    height: 10px;
    font-size: 10px;
    margin-bottom: 20px;
}
.ligne{
    height: 10px;
}
button{
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}
p {
    color: red;
    display: none;
}
#basic-addon1{
    background:rgb(38, 22, 126);
    color: gold;
}
#username, #password{
    border: rgb(38, 22, 126) groove 0.3px;
    text-align: center;
    
}

#span-succes {
    color: rgb(81, 255, 0);
    display: none;
    border: 5px solid rgb(81, 255, 0);
    border-radius: 15px;
    font-size: 20px;
}

#span-error {
    color: red;
    display: none;
    border: 5px solid red;
    font-size: 20px;
    border-radius: 15px;
}